.a{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center; 
    font-size: 1.1em;
}
#iconid{ 
    cursor: cell;
    font-size: 1.2em;
    text-align: center;
    color: rgb(0, 136, 255);
}
@media (min-width: 768px) {
    .a{
        display: flex;
        flex-direction: column;
        color: aliceblue;
        text-align: center; 
        font-size: 1.5em;
    }
    
}