<div class="cargando" *ngIf="(cargando$ | async)">
    
    <app-icon-button 
    [iconClass]="'bi bi-arrow-repeat'"
    [iconText]="'Cargando...'" >
    </app-icon-button>
    
</div>
<main class="main" *ngIf="!(cargando$ | async)">
        
    <section class="main__section">
        <h1 class="main__section__h1">{{this.titlePag$ | async}} </h1>
        <figure class="main__section__figure">
            <img class="main__section__figure__img"  [src]="img_user" alt="">
            
            <i (click)="logout()" class="bi bi-box-arrow-right "></i>
            
        </figure>
    </section>
   
    <section class="main__section__dos" >
    
        <app-cards
        [className]="'bi bi-heart'"
        [items]="nuevasCanciones">
        </app-cards>
               
    </section>

</main>
    
