.cargando{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.main__section{
    width: 100%;
    min-height: 8vh;
    display: flex;
    justify-content: space-between;

    align-items: center;
    color: white;
    
    &__h1{
        width:60% ;
        padding-left: 0.8em;
        color: white;
        font-size: 1.5em;
    }
    &__figure{
        display: flex;
        justify-content: end;
        align-items: center;
        
        width: 40%;
        &__img{
            border-radius: 100% 100%;
            max-width: 30px;
            height: 100%;
        }
        &__figcap{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        } 
    }
    
    overflow-x: hidden;
}
.ai{
    text-decoration: none;
    &__i{
        padding-left: 0.2em;
        padding-right: 0.2em;
        font-size: 2em;
        cursor: pointer;
        color: rgb(0, 136, 255);
    }

}
.main__section__dos{
    padding: 2px 0px 80px;
    
    overflow-y: hidden;
}

@media (min-width: 768px) {
    
    .main{
        width: 80%;
    }
    .main__section{
        width: 100%;
        min-height: 10vh;
    }
    

}