.navbar{
    width: 100%;
    height: 100%;
    
    &__ul{
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        &__li{
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
        
    }
}
.bi{
    font-size: 1.2em;
    text-align: center;
    color: rgb(0, 136, 255);
}


@media (min-width: 768px) {
    
    .navbar__ul{
        flex-direction: column;
        justify-content: flex-start; 

        &__li{
            height: 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
    }
    
}