@mixin mixinResponsive ($media){
    @media screen and (min-width:$media){
        @content;
    }
}
.contenedor{
    width: 100%;
    min-height:100vh;
    background-color: black;
    font-size: 16px;
}
.app__main__search{
    width: 100%;
    min-height: 100vh;
}

.contenedor{
    @include mixinResponsive(375px){
        font-size: 18px;
    }   
}
.contenedor{
    @include mixinResponsive(425px){
        font-size: 20px;
    }   
}
.contenedor{
    @include mixinResponsive(768px){
        .app__main__search{
            display: flex;
            justify-content: flex-end;
        }
        font-size: 22px;
    }   
}
.contenedor{
    @include mixinResponsive(1024px){
        font-size: 25px;
    }   
}
.contenedor{
    @include mixinResponsive(1440px){
        font-size: 28px;
    }   
}
.contenedor{
    @include mixinResponsive( 1920px){
        font-size: 25px;
    }   
}
