.contenedor{
    width: 100%;
    min-height:100vh;
    background-color: black;
}
.app-main-search{
    width: 100%;
    min-height: 100vh;
}

@media screen and (min-width: 768px){
    .app-main-search{
        display: flex;
        justify-content: flex-end;
    }
}