.contenedor{
    width: 100%;
    min-height:100vh;
}
.app-main-favoritos{
    width: 100%;
    min-height: 100vh;
}

@media screen and (min-width: 768px){
    .app-main-favoritos{
        display: flex;
        justify-content: flex-end;
    }
}