<section class="section" *ngIf="!this.isSearchPath" >
    <figure class="section__figure" *ngFor="let item of items">
        
        <app-img-cards 
        class="section__figure__img"
        [srcCards]="item.track.album.images[0].url" 
        [classImg]="'img'">
        </app-img-cards> 

        <app-text-cards
        [figureTtext]="item.track.name"
        [classFigcapation]="'figcaption'">
        </app-text-cards>

        <div class="section__figure__div">
            <section class="section__figure__div__section">
                <app-text-cards 
                    *ngFor="let artists of item.track.album.artists"
                    [figureTtext]="artists.name"
                    [classFigcapation]="'figcaption figcaption--artists'">
                    
                </app-text-cards>
            </section>
            <app-icon-fav
                class="section__figure__div__i"
                [class]="iconClasss"
                id="{{item.track.id}}"   
            >
            </app-icon-fav>
            <!-- <app-icon-fav
                class="section__figure__div__i"
                [class]="iconClasss"
                id="{{item.track.id}}"   
                (click)="this.modificarFav(item.track.id)" 
            >
            </app-icon-fav> -->
                
        </div>
            
    </figure>
    
</section>
<section class="section" *ngIf="this.isSearchPath" >
    <figure class="section__figure" *ngFor="let itemSearch of itemsSearch" >

        <app-img-cards 
                
            class="section__figure__img"
            [srcCards]="itemSearch.album.images[0].url" 
            [classImg]="'img'">
        </app-img-cards> 
    
        <app-text-cards
            [figureTtext]="itemSearch.name"
            [classFigcapation]="'figcaption'">
        </app-text-cards>
            
        <div class="section__figure__div">
            <section class="section__figure__div__section">
                <app-text-cards 
                    *ngFor="let artists of itemSearch.album.artists"
                    [figureTtext]="artists.name"
                    [classFigcapation]="'figcaption figcaption--artists'">
                    
                </app-text-cards>
            </section>

            <app-icon-fav
                class="section__figure__div__i"
                [class]="iconClasss"
                id="{{itemSearch.id}}"   
            >
            </app-icon-fav>
            <!-- <app-icon-fav
                class="section__figure__div__i"
                [class]="iconClasss"
                id="{{itemSearch.id}}"   
                (click)="this.modificarFav(itemSearch.id)" 
            >

            </app-icon-fav> -->
            
        </div>
    
    </figure>
    
</section>