<section class="section" *ngIf="!this.isSearchPath" >
    <figure class="section__figure" *ngFor="let item of items">
        
        <app-img-cards 
        class="section__figure__img"
        [srcCards]="item?.album?.images[0]?.url" 
        [classImg]="'img'">
        </app-img-cards> 

            <app-text-cards
            [figureTtext]="item.name"
            [classFigcapation]="'figcaption'">
            </app-text-cards>
        
        

        <div class="section__figure__div">
            <section class="section__figure__div__section">
                <app-text-cards 
                    *ngFor="let artists of item.artists"
                    [figureTtext]="artists.name+' -'"
                    [classFigcapation]="'figcaption figcaption--artists'">
                    
                </app-text-cards>
            </section>
            <i [class]='className' id="{{item.id}}" (click)="this.modificarFav(item)" ></i>
        </div>
            
    </figure>

    <aside></aside>
    
</section>
<section class="section" *ngIf="this.isSearchPath" >
    <figure class="section__figure" *ngFor="let itemSearch of itemsSearch" >

        <app-img-cards 
                
            class="section__figure__img"
            [srcCards]="itemSearch.album.images[0].url" 
            [classImg]="'img'">
        </app-img-cards> 
    
        <app-text-cards
            [figureTtext]="itemSearch.name"
            [classFigcapation]="'figcaption'">
        </app-text-cards>
            
        <div class="section__figure__div">
            <section class="section__figure__div__section">
                <app-text-cards 
                    *ngFor="let artists of itemSearch.album.artists"
                    [figureTtext]="artists.name"
                    [classFigcapation]="'figcaption figcaption--artists'">
                    
                </app-text-cards>
            </section>
            <i [class]='classNameSearch'  id="{{itemSearch.id}}" (click)="this.modificarFav(itemSearch)" ></i>
        
        </div>
    
    </figure>
    
</section>