.section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    &__figure{
        width: 45%;
        margin: 4px;
        background-color: rgba(73, 156, 229, 0.358);
        border-radius: 0.5em;
        border: 1px solid white;
        padding: 0.5em;
        &__img{
            margin: auto;
            width: 7.5em;
            height: 7.5em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            &__section{
                width: 80%;
                display: flex;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
.bi{
    font-size: 1.2em;
    text-align: center;
    color: rgb(0, 136, 255);
}

@media (min-width: 768px) {
    
.section__figure{
    width: 30%;
    display: flex;
    flex-direction: column;
}

}

@media (min-width: 1024px) {
    
    .section__figure{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    
}


@media (min-width: 1440px) {
    
    .section__figure{
        width: 15%;
        display: flex;
        flex-direction: column;
    }
    
}