*{
    margin:  0;
    padding: 0;
    border:  0;
    box-sizing: border-box;
    vertical-align: baseline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 p, span, a, strong, blockquote, i, b, u, em{
    text-decoration: none;
}