.header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.991) 21%, rgb(73, 156, 229) 92%, rgba(255, 255, 255, 0) 100%);
    width: 100%;
    height: 5em;
    position: fixed;
    bottom: 0;
    display: flex;
    overflow-x: hidden;

    &__nav{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    
}

@media (min-width: 768px) {
    .header{
        width: 20%;
        height: 100vh;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background: rgb(0,0,0);
        background: linear-gradient(135deg, rgba(0,0,0,1) 21%, rgb(73, 156, 229) 92%);
    }
    
}

@media (min-width: 1440px) {
    .header{
        width: 15%;
    }
    
}